.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .topbar__title {
    position: relative;    
  }
  
  .topbar__actions {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;  
  }
  
  .topbar__action-item {
    margin: 0 auto;
    position: relative;
  }
  
  .topbar__action-item--button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .topbar__action-item:first-child {
    margin-right: 25px;
  }